{% extends "template.html" %}
{% block title %}MWO TM{% endblock %}
{% block head %}
{% endblock %}
{% block ContentHeader %}Page not found{% endblock %}
{% block content %}
    <div class="error-page">
        <h2 class="headline text-warning">404</h2>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Page not found.</h3>
            <p>
                Resource that you trying to access was not found on the server.
                If you typed URL manually, check it for spelling errors.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
{% endblock %}
