{% extends "template.html" %}
{% block title %}Build - Edit{% endblock %}
{% block ContentHeader %}Build{% endblock %}
{% block content %}
    {% if build.mech_id != "" %}
    <!-- Modal -->
    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="confirmation-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="confirmation-title">Delete build</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Are you sure that you want to delete the build?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ url_for('views.build_delete', build_id=build.id) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Form -->
    <div class="container-fluid">
        <form class="form-horizontal" method="post">
            <div class="form-group row">
                <label for="mech_id" class="col-2 col-form-label">Mech</label>
                <div class="col-4">
                    <select class="form-control" id="mech_id" name="mech_id" required>
                        {% for mech in mechs %}
                            {% if build.mech_id == mech.id %}
                                <option value="{{ mech.id }}" data-omni-mech="{{ mech.omni_mech }}" selected="selected">{{ mech.name }}</option>
                            {% else %}
                                <option value="{{ mech.id }}" data-omni-mech="{{ mech.omni_mech }}">{{ mech.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="loadout" class="col-2 col-form-label">Loadout link</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="loadout" name="loadout" value="{{ build.loadout }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Build name</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="name" name="name" value="{{ build.name }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="engine" class="col-2 col-form-label">Engine</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="engine" name="engine" value="{{ build.engine }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="code" class="col-2 col-form-label">Build code</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="code" name="code" value="{{ build.code }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="notes" class="col-2 col-form-label">Notes</label>
                <div class="col-4">
                    <textarea class="form-control" id="notes" name="notes">{{ build.notes }}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="for_omni_mechs" class="col-2 col-form-label">For omni mechs</label>
                <div class="col-1">
                    <input type="checkbox" class="form-control" id="for_omni_mechs" name="for_omni_mechs" title="Could be used on all omni-mechs" {% if build.for_omni_mechs %}checked{% endif %}>
                    <input type="hidden" class="form-control" id="for_omni_mechs_false" name="for_omni_mechs">
                </div>
            </div>
            <div class="form-group row">
                <label for="approved" class="col-2 col-form-label">Approved build</label>
                <div class="col-1">
                    <input type="checkbox" class="form-control" id="approved" name="approved" title="Build could be used in a dropdeck" {% if build.approved %}checked{% endif %}>
                    <input type="hidden" class="form-control" id="approved_false" name="approved">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-2 col-4">
                    <a href="{{ url_for('views.builds') }}" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Back</a>
                    {% if build.mech_id != "" %}
                    <a href="{{ url_for('views.builds') }}" class="btn btn-danger" role="button" data-toggle="modal" data-target="#confirmation">Delete</a>
                    {% endif %}
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            var selectField = $('#mech_id');
            selectField.change(function(event) {
                if (event.originalEvent) {
                    updateCheckboxState($(this));
                }
            });
            updateCheckboxState(selectField);
        });

        function updateCheckboxState(source) {
            var selectedValue = source.val();
            var enableCheckbox = source.find('option[value="' + selectedValue + '"]').attr('data-omni-mech');
            var checkBox = $('#for_omni_mechs');
            var disable = enableCheckbox === 'False';

            checkBox.prop('disabled', disable);
            checkBox.prop('checked', !disable);
        };
    </script>
    <script>
        $(document).ready(function() {
            $('#loadout').on('change', function() {
                var url = $(this).val();

                if (!url) {
                    return;
                }
                
                // Regular expression to validate the URL and capture the last part
                var urlPattern = /https:\/\/mwo\.nav-alpha\.com\/mechlab\?b=[a-z0-9,_-]+_([a-z0-9-]+)/i;
                var match = urlPattern.exec(url);
                
                if (!match) {
                    $(document).Toasts('create', {
                        class: 'bg-danger',
                        title: 'Error parsing URL',
                        subtitle: 'Close',
                        body: 'Provided link is not a valid MechDB link.',
                        delay: 3000,
                        autohide: true
                    })
                    return;
                }
                
                var mechIdParam = match[1]; // Captured part of the URL
                
                var $mechOption = $('#mech_id option').filter(function() {
                    return $(this).text() === mechIdParam;
                });
                
                if ($mechOption.length) {
                    // Get the value of the selected option and update the mech_id select field
                    var mechIdValue = $mechOption.val();
                    var selectField = $('#mech_id');
                    
                    selectField.val(mechIdValue);
                    updateCheckboxState(selectField);
                } else {
                    $(document).Toasts('create', {
                        class: 'bg-danger',
                        title: 'Mech not found',
                        subtitle: 'Close',
                        body: mechId + ' is not a correct mech name.',
                        delay: 3000,
                        autohide: true
                    });
                }
            });
        });
    </script>
{% endblock %}