{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block ContentHeader %}{% endblock %}
{% block content %}
    <h1 align="center">Welcome to MWO Team manager!</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="info-box mb-3 bg-warning">
                <span class="info-box-icon">
                    <i class="fas fa-users"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Users</span>
                    <span class="info-box-number">{{ stats.users }}</span>
                </div>
            </div>
            <div class="info-box mb-3 bg-olive">
                <span class="info-box-icon">
                    <i class="fas fa-warehouse"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Mechs</span>
                    <span class="info-box-number">{{ stats.mechs }}</span>
                </div>
            </div>
            <div class="info-box mb-3 bg-info">
                <span class="info-box-icon">
                    <i class="fas fa-robot"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Builds</span>
                    <span class="info-box-number">{{ stats.builds }}</span>
                </div>
            </div>
            <div class="info-box mb-3 bg-maroon">
              <span class="info-box-icon">
                  <i class="fas fa-calendar-check"></i>
              </span>
              <div class="info-box-content">
                  <span class="info-box-text">Active events</span>
                  <span class="info-box-number">{{ stats.events }}</span>
              </div>
          </div>
        </div>
        {% if current_user.IsMember() %}
        <div class="col-md-8">
          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Upcoming events</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body p-0" style="display: block;">
              <div class="table-responsive">
                <table class="table table-dark m-0">
                  <thead>
                    <th>Date</th>
                    <th class="d-none d-lg-table-cell">Tournament</th>
                    <th>Event</th>
                    <th></th>
                    <th></th>
                  </thead>
                  <tbody>
                    {% for event in events %}
                    <tr>
                      <td class="align-middle">{{ event.date.strftime('%Y-%m-%d %H:%M') }}</td>
                      <td class="d-none d-lg-table-cell align-middle">{{ event.tournament.name }}</td>
                      <td class="align-middle">{{ event.name }}</td>
                      <td class="align-middle">
                        {% if event.id in attendance %}
                        <button type="button" class="btn btn-block btn-secondary btn-withdraw" data-id="{{ event.id }}">Withdraw <i class="fas fa-sign-out-alt"></i></button>
                        {% else %}
                        <button type="button" class="btn btn-block btn-success btn-sign-in" data-id="{{ event.id }}">Sign up <i class="fas fa-sign-in-alt"></i></button>
                        {% endif %}
                      </td>
                      <td class="align-middle"><a href="{{ url_for('views.event_view', event_id=event.id) }}" class="btn btn-block btn-info">View <i class="fas fa-angle-right"></i></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
  <!-- Easy Toasts -->
  <script src="{{ url_for('static', filename='adminlte/js/toast.js') }}"></script>

  <!-- Page specific scripts -->
  <script>
    $(document).ready(function() {
      $('.btn-sign-in, .btn-withdraw').on('click', function() {
          var button = $(this);
          var eventId = button.data('id');
          const baseUrl = button.hasClass('btn-sign-in') ? '{{ url_for("views.event_sign_up") }}' : '{{ url_for("views.event_withdraw") }}';

          $.ajax({
              url: baseUrl,
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({
                  event_id: eventId,
                  user_id: '{{ current_user.id }}'
              }),
              success: function(response) {
                  if (response.success) {
                      // Replace the button with the appropriate text and class
                      if (button.hasClass('btn-sign-in')) {
                          button.html('Withdraw <i class="fas fa-sign-out-alt"></i>');
                          button.removeClass('btn-success btn-sign-in');
                          button.addClass('btn-secondary btn-withdraw');

                          toastSuccess('Attendance confirmed', 'You successfuly signed up for the event.');
                      } else {
                          button.html('Sign up <i class="fas fa-sign-in-alt"></i>');
                          button.removeClass('btn-secondary btn-withdraw');
                          button.addClass('btn-success btn-sign-in');

                          toastSuccess('Attendance withdrawn', 'You have withdrawn your attendance for the event.');
                      }
                  } else {
                      toastError('Error', response.message);
                  }
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  toastError('Error performing AJAX request', errorThrown);
              }
          });
      });
    });
  </script>
{% endblock %}
