{% extends "template.html" %}
{% block title %}Mechlist update{% endblock %}
{% block head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block ContentHeader %}Mechlist update{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Paste new mechlist here:</h3>
          </div>

          <form method="post">
            <div class="card-body p-0">
              <div class="form-group">
                <textarea id="newMechlist" name="newMechlist" class="form-control"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Update</button>
          </form>
        </div>
      </div>

      <div class="col-md-9">
        <table id="mechs" class="table table-sm table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
              <th>Mech</th>
              <th>Chassis</th>
              <th>Side</th>
              <th>Tonnage</th>
              <th>Class</th>
              <th>Type</th>
          </tr>
          </thead>
          <tbody>
            {% for mech in user.mechs %}
            <tr>
              <td>{{ mech.data.name }}</td>
              <td>{{ mech.data.chassis }}</td>
              <td>{{ mech.data.side }}</td>
              <td>{{ mech.data.tonnage }}</td>
              <td>{{ mech.data.weight_class }}</td>
              <td>{{ mech.data.chassis_type }}<div style="display:none;">{% if mech.data.omni_mech %}Omnimech{% else %}Battlemech{% endif %}</div></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <!-- DataTables  & Plugins -->
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>

  <!-- Page specific script -->
  <script>
    $(function () {
      $("#mechs").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 15,
        "buttons": [
          {
            text: "Copy to clipboard",
            action: function (e, dt, node, config) {
              var table = dt.table().node();
              var columnData = dt
                .column(0)
                .data()
                .join("\n");

              var textarea = document.createElement("textarea");
              textarea.value = columnData;
              document.body.appendChild(textarea);
              textarea.select();
              document.execCommand("copy");
              document.body.removeChild(textarea);
              
              $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Data copied to clipboard',
                subtitle: 'Close',
                body: 'You mechlist have been copied to a clipboard',
                delay: 3000,
                autohide: true
              })
            }
          }
        ]
      }).buttons().container().appendTo('#mechs_wrapper .col-md-6:eq(0)');
    });
  </script>
{% endblock %}