{% extends "template.html" %}
{% block title %}Team mechlists{% endblock %}
{% block head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block ContentHeader %}Team mechlists{% endblock %}
{% block content %}
  <div class="container-fluid">
    <table id="mechs" class="table table-dark table-sm table-bordered table-striped">
      <thead>
      <tr>
          <th>Pilot</th>
          <th>Mech</th>
          <th class="d-none d-lg-table-cell">Chassis</th>
          <th class="d-none d-lg-table-cell">Side</th>
          <th>Tonnage</th>
          <th>Class</th>
          <th class="d-none d-lg-table-cell" title="Define if the mech is hero, legendary or normal">Type</th>
          <th title="Mechs owned by all registered team members">Total</th>
      </tr>
      </thead>
      <tbody>
        {% for pilot, mechs in data.items() %}
          {% for mech in mechs %}
          <tr>
            <td>{{ pilot }}</td>
            <td>{{ mech.data.name }}</td>
            <td class="d-none d-lg-table-cell">{{ mech.data.chassis }}</td>
            <td class="d-none d-lg-table-cell">{{ mech.data.side }}</td>
            <td>{{ mech.data.tonnage }}</td>
            <td>{{ mech.data.weight_class }}</td>
            <td class="d-none d-lg-table-cell">{{ mech.data.chassis_type }}<div style="display:none;">{% if mech.data.omni_mech %}Omnimech{% else %}Battlemech{% endif %}</div></td>
            <td>{{ team_total.get(mech.data.name) }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block scripts %}
  <!-- DataTables  & Plugins -->
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/jszip/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='adminlte/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>

  <!-- Easy Toasts -->
  <script src="{{ url_for('static', filename='adminlte/js/toast.js') }}"></script>

  <!-- Clipboard utility -->
  <script src="{{ url_for('static', filename='adminlte/js/clipboard.js') }}"></script>

  <!-- Page specific script -->
  <script>
    $(function () {
      $("#mechs").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 15,
        "buttons": [
          {
            text: "Copy",
            className: "btn-secondary",
            action: function () {
              var table = $("#mechs").DataTable();
              var pilots = {};
              table.rows().every(function () {
                var d = this.data();
                var pilot = d[0];
                var mech = d[1];

                if (!(pilot in pilots)) {
                  pilots[pilot] = [];
                }
                pilots[pilot].push(mech);
              });

              let tableSize = 0;
              for (const pilot in pilots) {
                const arrayLength = pilots[pilot].length;
                if (arrayLength > tableSize) {
                  tableSize = arrayLength;
                }
              }

              if (tableSize == 0) {
                return;
              }

              var text = [];
              var divider = '\t';
              var items = []
              for (const pilot in pilots) {
                items.push(pilot);
              }
              var header = items.join(divider);
              text.push(header);

              for (let i = 0; i < tableSize; i++) {
                var items = [];
                for (const pilot in pilots) {
                  var mechs = pilots[pilot];
                  var mechName = (i >= mechs.length) ? '' : mechs[i].trim();
                  items.push(mechName);
                }
                text.push(items.join(divider));
              }

              var textToCopy = text.join('\n');
              copyToClipboard(textToCopy, 'Data copied', 'Mechlists copied to a clipboard.');
            }
          }, "csv", "excel"]
      }).buttons().container().appendTo('#mechs_wrapper .col-md-6:eq(0)');
    });
  </script>
{% endblock %}