{% extends "template.html" %}
{% block title %}Tournament - Edit{% endblock %}
{% block ContentHeader %}Tournament{% endblock %}
{% block content %}
    {% if tournament.id != "" %}
    <!-- Modal -->
    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="confirmation_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="confirmation_title">Finish tournament</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Finishing a tournament means that you will no longer be able to create events for it.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ url_for('views.tournament_finish', tournament_id=tournament.id) }}" class="btn btn-warning">Finish</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Form -->
    <div class="container-fluid">
        <form class="form-horizontal" method="post">
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Short name</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="name" name="name" value="{{ tournament.name }}" placeholder="Short unique name">
                </div>
            </div>
            <div class="form-group row">
                <label for="full_name" class="col-2 col-form-label">Full name</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="full_name" name="full_name" value="{{ tournament.full_name }}" placeholder="Name that will represent tournament in a list">
                </div>
            </div>
            <div class="form-group row">
                <label for="team_size" class="col-2 col-form-label">Team size</label>
                <div class="col-4">
                    {% if tournament.id == "" %}
                    <select class="form-control" id="team_size" name="team_size">
                        {% for count in range(1,12) %}
                        <option value="{{ count }}">{{ count }}</option>
                        {% endfor %}
                        <option value="12" selected="selected">12</option>
                    </select>
                    {% else %}
                    <input type="text" readonly class="form-control-plaintext" id="team_size" name="team_size" value="{{ tournament.team_size }}">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-2 col-4">
                    <a href="{{ url_for('views.tournaments') }}" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Back</a>
                    <button type="submit" class="btn btn-success">Save</button>
                    {% if tournament.id != "" %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmation">Finish</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}